<footer class="footer">
    <a class="button-footer" href="#hero"></a>
    <nav>
        <ul class="footer-list">
            <li><a class="footer-link" href="https://adalab.es/" title="Articulos">Articles</a></li>
            <li><a class="footer-link" href="https://adalab.es/" title="Libros">Books</a></li>
            <li><a class="footer-link" href="https://adalab.es/" title="Eventos">Events</a></li>
            <li><a class="footer-link" href="https://adalab.es/" title="Razones">Reasons</a></li>
            <li><a class="footer-link" href="https://adalab.es/" title="Tips">Tips</a></li>
        </ul>
    </nav>
    <nav>
        <ul class="footer-list">
            <li><a class="footer-link" href="https://adalab.es/" title="Twitter">Twitter</a></li>
            <li><a class="footer-link" href="https://adalab.es/" title="Instagram">Instagram</a></li>
            <li><a class="footer-link" href="https://adalab.es/" title="Mastodon">Mastodon.social</a></li>
        </ul>
    </nav>
    <div class="copy">
        <p>&copy; 2022</p>
        <p>we <span class="heart">&hearts;</span> components</p>
    </div>
</footer>






