<footer>
    <button></button>
    <nav>
        <ul>
            <li><a href="https://adalab.es/" title="Articulos">Articles</a></li>
            <li><a href="https://adalab.es/" title="Libros">Books</a></li>
            <li><a href="https://adalab.es/" title="Eventos">Events</a></li>
            <li><a href="https://adalab.es/" title="Razones">Reasons</a></li>
            <li><a href="https://adalab.es/" title="Tips">Tips</a></li>
        </ul>
    </nav>
    <nav>
        <li><a href="https://adalab.es/" title="Twitter">Twitter</a></li>
        <li><a href="https://adalab.es/" title="Instagram">Instagram</a></li>
        <li><a href="https://adalab.es/" title="Mastodon">Mastodon.social</a></li>
    </nav>
</footer>






