<main>
    <section class="section-text">
        <span class="insomnia">Insomnia Tips</span>
        <h2 class="title2">Looking through a window</h2>
        <p>Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
        <div class="section-text-button">
            <button class="button-go">Go</button>
        </div>
    </section>
    <section class="section-reasons">
        <h2 class="title-reasons" id="reasons-to-purchase">3 Reasons to purchase</h2>
        <include src="./reasons-article.html" benefitTitle="Ut sed metus" benefitDescription="Lorem ipsum dolor sit amet, consecteur."></include>
        <include src="./reasons-article.html" benefitTitle="Curabitur ac erat" benefitDescription="Mauris mattis urna quis lorem molestie."></include>
        <include src="./reasons-article.html" benefitTitle="Morbi dictum" benefitDescription="Aliquam in dolor et dolor tincidunt."></include>
        <button class="button-reasons">More reasons</button>
    </section>
</main>