<main>
    <section>
        <span>Insomnia Tips</span>
        <h2>Looking Through A Window</h2>
        <p>Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
        <button>Go</button>
    </section>
    <section>
        <h2>3 Reasons To Purchase</h2>
        <include src="./reasons-article.html" benefit-title="Ut sed metus" benefit-description="Lorem ipsum dolor sit amet, consecteur."></include>
        <include src="./reasons-article.html" benefit-title="Curabitur ac erat" benefit-description="Mauris mattis urna quis lorem molestie."></include>
        <include src="./reasons-article.html" benefit-title="Morbi dictum" benefit-description="Aliquam in dolor et dolor tincidunt."></include>
        <button>More reasons</button>
    </section>
</main>