// fonts
$font-roboto-slab-bold: 'Roboto Slab', serif;
$font-roboto-regular: 'Roboto', sans-serif;
$font-roboto-medium: 'Roboto', sans-serif;

// colors
$color-red:#f26002;
$color-white:#ffffff;
$color-light-blue:#8ccbea;
$color-blue: #0271bc;
$color-dark-blue: #304268;
$color-black: #000000;
$color-grey: #4a4a4a;
$color-orange: #f26002;
$color-background-section:#eff9ff;
$color-prueba: purple;