.footer {
    background-color: $color-dark-blue;
    font-family: $font-roboto-regular;  
    color: $color-white;
    padding-bottom: 30px;
}

.inner-footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 25px;  
    @media all and (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;   
    }
    @media all and (min-width: 1280px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start; 
        gap:100px;  
    }
}

.button-footer {
    background-image: url('../images/ico-arrow.svg');
    width: 37.9px;
    height: 37px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-size: auto;
    background-color: $color-white;
    transform: translateY(-20px);
    display: block;
    margin: auto; 
    transition: 0.5s;
}
    .button-footer:after {
        content: '»';
        color: $color-orange;
        position: absolute;
        opacity: 0;  
        top: 14px;
        right: -20px;
        transition: 0.5s;
    }
    .button-footer:hover{
        padding-right: 24px;
        padding-left:8px;
    }
    
    .button-footer:hover:after {
        opacity: 1;
        right: 10px;
    }

.footer-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media all and (min-width: 768px) {
        align-items: flex-start;
    }
}

.footer-link{
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.88;
    text-transform: uppercase;
    color: $color-white;
}

.copy {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    line-height: 2.14;
    @media all and (min-width: 768px) {
        order: -1;
        align-items: flex-start;
    }
}

.heart {
    color: $color-orange;
}