.footer {
    background-color: $color-dark-blue;
    font-family: $font-roboto-regular;  
    color: $color-white;
    padding-bottom: 30px;
}

.inner-footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 25px;  
    @media all and (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 30px;
        align-items: flex-start;
    }
}

.button-footer {
    background-image: url('../images/ico-arrow.svg');
    width: 37.9px;
    height: 37px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-size: auto;
    background-color: $color-white;
    transform: translateY(-20px);
    display: block;
    margin: auto; 
}

.footer-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media all and (min-width: 768px) {
        align-items: flex-start;
    }
}

.footer-link{
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.88;
    text-transform: uppercase;
    color: $color-white;
}

.copy {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    line-height: 2.14;
    @media all and (min-width: 768px) {
        order: -1;
        align-items: flex-start;
    }
}

.heart {
    color: $color-orange;
}