

.hero {
    width: 100vw;
    height: 100vh;
    background-image: url('../images/cover.jpeg');
    background-position: center;
    background-size: cover;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    color: $color-white;
    gap: 20px;

    // @media all and (min-width: 768px) {
    //     height: 768px;;
    // }
}

.title-hero {
    text-transform: uppercase;
    word-spacing: 100vw;
    text-align: center;
    font-size: 42px;
    line-height: 1.31;
}

.hero p {
    font-size: 16px;
    line-height: 1.19;
}

.button-hero {
    background-image: url('../images/ico-scroll-down.svg');
    width: 37.9px;
    height: 37px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-size: auto;
    margin-bottom: 34.1px;
    background-color: $color-white;
}
